# Mac系统自动创建的隐藏文件，主要用于存储文件夹的自定义属性信息
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode

*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
